dsipcom
logs/*
src/.tmp
src/images
src/*.o
src/*.a
src/*.s
src/*.so
src/compile.log
src/Makefile
dsipcom*Makefile*.mk
nbproject/private/*
nbproject/private/
docs/UML/*/nbproject/private/*
docs/UML/*/nbproject/private/
dsipcom-public-Makefile.mk
user_list/*
config/*
.gitignore.swp

